

:root {

    --slate300: hsl(212, 45%, 89%);
    --slate500: #68778D;
    --slate900: #1F314F;

    --white: #FFFFFF;

}

.test2{
    color: var(--slate300);
}
*{
    background-color: var(--slate300);
}
.content{
    background-color: var(--white);
    
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.textPreset1{
    color: var(--slate900);
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    line-height: 120%;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
    background-color: var(--white);
    padding-left: 16px;
    padding-right: 16px;
}

.textPreset2{
    color: var(--slate900);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: center;
    background-color: var(--white);
    padding-left: 16px;
    padding-right: 16px;
}

.content{
    width: 320px;
    height: 489px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 40px;

}

img{
    width: 100%;
}

.border-div{
    border-radius: 10px;
}

@media (max-width: 425px) {
    .textPreset1{
        font-weight: 700;
    }
   
}

@media (min-width: 426px) and (max-width: 800px) {
    .textPreset1{
        background-color: var(--slate900);
        color: var(--white);
        margin: 0;
        margin-top: 22px;
        padding-top: 16px;
        border-radius: 10px;
    }
    .textPreset2{
        background-color: var(--slate900);
        color: var(--white);
        margin: 0;
        margin-bottom: 22px;
        padding: 16px;
        border-radius: 10px;
    }
}